# API Keys & External Services
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
VULNERS_API_KEY=

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=perimeter-scanner
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
